// Resources:
// - Introduction: https://yalter.github.io/niri/Configuration:-Introduction

// INFO: removes the ugly "desktop environment" top bar with buttons
prefer-no-csd

// https://yalter.github.io/niri/Configuration:-Input
input {
    keyboard {

	    repeat-rate 20
	    repeat-delay 200

      xkb {
      }

      numlock
    }

    touchpad {
        tap
    }

    mouse {
        accel-profile "flat"
    }

    trackpoint {
    }

    focus-follows-mouse max-scroll-amount="0%"
}

/-output "eDP-1" {
    mode "1920x1080@120.030"

    scale 2

    transform "normal"

    position x=1280 y=0
}

// https://yalter.github.io/niri/Configuration:-Layout
layout {
    gaps 10
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    // You can also customize the heights that "switch-preset-window-height" (Alt+R) toggles between.
    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    // You can change the default width of the new windows.
    default-column-width { proportion 0.8; }

    // You can change how the focus ring looks.
    focus-ring {
        width 2

        // Color of the ring on the active monitor.
        active-gradient from="#a6a6a6ff" to="#c0c0c080" angle=90
        inactive-gradient from="#333333ff" to="#333333ff" angle=90 relative-to="workspace-view"
    }
}

// Autostart programs
spawn-at-startup "pypr"
spawn-at-startup "dunst"
spawn-at-startup "waybar"
spawn-at-startup "swww-daemon"

spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"

spawn-at-startup "dunst" "-config" "~/.config/dunst/dunstrc"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"

hotkey-overlay {
    skip-at-startup
}


// Screenshots
screenshot-path "~/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

// Animation settings.
animations {
}

// Workspaces ( emulating general windows managers instead of dynamic workspaces )

// workspace 1
workspace "a" {
    // This regular expression is intentionally made as specific as possible,
}

// workspace 2
workspace "b" {
    // This regular expression is intentionally made as specific as possible,
}

// workspace 3
workspace "c" {
    // This regular expression is intentionally made as specific as possible,
}
// workspace 4
workspace "d" {
    // This regular expression is intentionally made as specific as possible,
}

// window rules for the above workspaces
window-rule {
    match app-id="obsidian"
    open-on-workspace "a"
    open-maximized true
}

window-rule {
    match app-id="kitty"
    open-on-workspace "b"
}

window-rule {
    match app-id="zen"
    open-on-workspace "c"
    open-maximized true
}

window-rule {
    match app-id="thunar"
    open-on-workspace "d"
    open-maximized true
}

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

binds {
    // Most actions that you can bind here can also be invoked programmatically with
    // `niri msg action do-something`.

    // niri: general
    Mod+Shift+E { quit; }
    Mod+Shift+P { power-off-monitors; }
    Mod+O repeat=false { toggle-overview; }
    Mod+Shift+Slash { show-hotkey-overlay; }
    // NOTE: for remote desktop remote connection softwares
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // hardware: volume
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // hardware: brightness
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+2%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "2%-"; }

    // workspace: focus workspace
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    // workspace: focus workspace ( up / down )
    Alt+J      { focus-workspace-down; }
    Alt+K        { focus-workspace-up; }

    // workspace ( mouse ): focus workspace ( up / down )
    Alt+WheelScrollDown      cooldown-ms=125 { focus-workspace-down; }
    Alt+WheelScrollUp        cooldown-ms=125 { focus-workspace-up; }

    // workspace: focus workspace "like a 'tab' browser"
    Mod+Tab { focus-workspace-previous; }

    // workspace: move window to workspaces
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // workspace: move window to workspace ( up / down )
    Alt+Shift+J         { move-column-to-workspace-down; }
    Alt+Shift+K         { move-column-to-workspace-up; }

    // workspace ( mouse ): move window to workspace ( up / down )
    Alt+Ctrl+WheelScrollDown cooldown-ms=125 { move-column-to-workspace-down; }
    Alt+Ctrl+WheelScrollUp   cooldown-ms=125 { move-column-to-workspace-up; }

    // workspace: move workspace "group" ( up / down )
    Alt+Shift+U         { move-workspace-down; }
    Alt+Shift+I         { move-workspace-up; }

    // window: focus window
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }

    // window ( mouse ): focus window
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }

    // window: toggle focus between floating and tiled
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // window: move window
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End  { move-column-to-last; }

    // window: move window down into column ( horizontal --> vertical )
    Mod+Comma  { consume-window-into-column; }
    // window: move column up into window ( vertical --> horizontal )
    Mod+Period { expel-window-from-column; }

    // window ( mouse ): move window
    Alt+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Alt+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // window layout: change width ( configure proportion in `layout` )
    Mod+R { switch-preset-column-width; }
    // window layout: change height ( configure proportion in `layout` )
    Alt+R { switch-preset-window-height; }

    // window layout: take full workspaces width
    Mod+F { maximize-column; }
    // window layout: take full workspaces height
    Alt+Shift+R { reset-window-height; }

    // window layout: full screen window
    Mod+Shift+F { fullscreen-window; }

    // window layout: take full width ( if window alone )
    Alt+Shift+F { expand-column-to-available-width; }

    // window layout: center "column" window
    Mod+C { center-column; }

    // window layout: resize width
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // window layout: resize height
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // window layout: toggle floating
    Mod+V       { toggle-window-floating; }


    // IDK what the fuck this actually does
    // Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // WARNING: need to find a way to screenshot a region only

    // window: launchers
    Mod+Space hotkey-overlay-title="Run an Application: rofi" { spawn-sh "rofi -show drun"; }
    Alt+Space hotkey-overlay-title="Run a Command: rofi" { spawn-sh "rofi -show run"; }
    Alt+Shift+W hotkey-overlay-title="Clipboard Manager: rofi" { spawn-sh "~/.config/niri/scripts/wallpaper-picker.sh"; }
    Mod+Ctrl+V hotkey-overlay-title="Clipboard Manager: rofi" { spawn-sh "~/.config/niri/scripts/clipboard-manager.sh"; }

    // window: applications
    Mod+Q repeat=false { close-window; }
    Mod+Return hotkey-overlay-title="Open Terminal: Kitty Terminal" { spawn "kitty"; }
    Mod+Shift+B hotkey-overlay-title="Open Browser" { spawn "zen-browser"; }
    Mod+Shift+T hotkey-overlay-title="Open File Manager" { spawn "thunar"; }
    Mod+Shift+O hotkey-overlay-title="Open File Manager" { spawn "obsidian"; }
    Mod+W hotkey-overlay-title="Open File Manager" { spawn-sh "pkill -USR1 waybar"; }
}


// Cursor customisation
cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 16
    hide-after-inactive-ms 1000 
    hide-when-typing
}

// gestures
gestures {
    hot-corners {
        off
    }
}
