@define-color background              #1D2021;
@define-color foreground              #EBDBB2;
@define-color selection-background    #D65D0E;
@define-color selection-foreground    #EBDBB2;
@define-color cursor                  #BDAE93;
@define-color cursor-text-color       #665C54;
@define-color url-color               #458588;

@define-color active-tab-foreground   #EEEEEE;
@define-color active-tab-background   #D65D0E;
@define-color inactive-tab-foreground #EBDBB2;
@define-color inactive-tab-background #171A1A;

@define-color color0                  #3C3836;
@define-color color8                  #928374;

@define-color color1                  #CC241D;
@define-color color9                  #FB4934;

@define-color color2                  #98971A;
@define-color color10                 #B8BB26;

@define-color color3                  #D79921;
@define-color color11                 #FABD2F;

@define-color color4                  #458588;
@define-color color12                 #83A598;

@define-color color5                  #B16286;
@define-color color13                 #D3869B;

@define-color color6                  #689D6A;
@define-color color14                 #8EC07C;

@define-color color7                  #A89984;
@define-color color15                 #FBF1C7;

@define-color translucent             rgba(67, 73, 77, 0.5);