@import "themes/deepspace.css";

* {
    all: initial;
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 14px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: transparent;
}

.modules-center {
    background-color: @background;
    padding: 4px 6px;
    border-radius: 6px;
}

#workspaces {
    background: @translucent;
    padding: 4px 2px;
    margin: 0 10px 0 10px;
    border: none;
    border-radius: 6px;
    box-shadow: none;
}

#workspaces button {
    padding: 0 4px;
    margin: 0 6px;
    border-radius: 6px;
    min-width: 20px;
    color: @color0;
    background: transparent;
    transition: all 0.1s ease-in-out;
}

#workspaces button.active {
    background: @cursor;
    color: @foreground;
    min-width: 20px;
    transition: all 0.1s ease-in-out;
}

#workspaces button:hover {
    background: @cursor;
    color: @foreground;
    min-width: 20px;
}

#workspaces button.urgent {
    background-color: @color1;
    color: @foreground;
    min-width: 20px;
}

#custom-distro,
#clock,
#network,
#power-profiles-daemon,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#menu,
#pulseaudio,
#tray {
    background-color: @translucent;
    padding: 0 8px;
    margin: 0 5px;
    border: none;
    border-radius: 6px;
    box-shadow: none;
}

#custom-distro {
    color: @color12;
}

tooltip {
    background-color: @background;
    border: 1px solid @selection-foreground;
    padding: 10px;
    border-radius: 6px;
}

tooltip label {
    color: @foreground;
    padding: 4px;
}

menu {
    background-color: @background;
    color: @foreground;
    padding: 8px;
    border: 2px solid @foreground;
    border-radius: 6px;
}

menuitem {
    padding: 2px 8px;
}

menuitem:hover {
    background-color: @selection-foreground;
}
