@import "themes/deepspace.css";

* {
    all: initial;
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 14px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: transparent;
}

.modules-center {
    background-color: @background;
    padding: 4px 12px;
    border-radius: 8px;
}

tooltip {
    background-color: @background;
    border: 1px solid @selection-foreground;
    padding: 10px;
    border-radius: 8px;
}

tooltip label {
    color: @foreground;
    padding: 4px;
}

#workspaces {
    background: rgba(67, 73, 77, 0.5);
    padding: 4px 2px;
    margin: 0 10px 0 10px;
    border: none;
    border-radius: 8px;
    box-shadow: none;
}

#workspaces button {
    padding: 0 4px;
    margin: 0 6px;
    border-radius: 6px;
    color: @color0;
    background: transparent;
    transition: all 0.1s ease-in-out;
}

#workspaces button.active {
    background: linear-gradient(135deg, @color4 0%, @color5 50%, @color1 100%);
    color: @foreground;
    min-width: 20px;
    transition: all 0.1s ease-in-out;
}

#workspaces button:hover {
    background: linear-gradient(310deg, @color4 0%, @color5 50%, @color1 100%);
    color: @foreground;
    min-width: 20px;
}

#workspaces button.urgent {
    background-color: @color1;
    color: @foreground;
    min-width: 20px;
}

#custom-distro,
#clock,
#pulseaudio,
#network,
#power-profiles-daemon,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#tray {
    background-color: rgba(67, 73, 77, 0.5);
    padding: 0 10px;
    margin: 0 5px;
    border: none;
    border-radius: 8px;
    box-shadow: none;
}
